body {
    font-family: 'Montserrat', sans-serif;
}

header {
    position: relative;
    background-image: url(images/weather.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 4px 3px #00000082;
    font-weight: 700;
    font-size: 47px;
    margin: auto;
    padding: 30px;
}
aside {
    background-color:#f6f6f6;
    padding: 10px;
    float: left
}
section {
    float:left
}
.btn {
    text-align: left;
    width:100%;
}
.btn-light {
    border-color: #ececec;
    background-color: #ffffff;
}
.blocks {
    border-radius: .25rem;
    margin: auto;
    width: 152px;
    height: 200px;
    background-color:#2b3c5a;
    padding: 10px;
    color: white;
}
.spacing {
    padding: 0px 20px 0px 20px;
}

.low{
    color: white;
    background: green;
}

.high {
    color:white;
    background: red;
}
.mod {
    color: black;
    background: yellow;
}